<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Update USER</h1>
    </div>

    <form method="POST" action="/users/<%= user._id %>?_method=PUT">
        <div class="form-group">
            <label for="name">New name</label>
            <input type="text" name="user[name]" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="username">New username</label>
            <input type="text" name="user[username]" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="userEmail">New email</label>
            <input type="email" name="user[email]" class="form-control" id="userEmail">
        </div>
        <div class="form-group">
            <label for="userPassword">New password</label>
            <input type="password" name="user[password]" class="form-control" id="userPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-warning" href="/users">Cancel</button>
    </form>

</div>

<%- include("partials/footer") %>