<%- include("partials/header") %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">USERS</h1>
            <p class="lead">This is a simple REST API using NodeJS and MongoDB for the database</p>
        </div>
    </div>

<%- include("partials/footer") %>